:root {
  --AquaBlue: #1cbbff;
}
body {
  background: white;
}

header {
  background: white;
}

footer {
  background: white;
}

html {
  background: #fff !important;
}

.hs-input{
  padding: 0rem 1rem;
  outline: none;
  height: 3rem;
  color: #0d88ff;
  font: normal normal bold 14px/19px Nunito Sans;
  border: 2px solid #d6e3ff;
  border-radius: 6px;
}

.submit {
  position: relative;
  /* right: 151px; */
  margin-top: 20px;
  background: #0041b8 0% 0% no-repeat padding-box;
  border-radius: 23px;
  cursor: pointer;
  font: normal normal 800 16px/22px Nunito;
  color: #ffffff;
  
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 37px;
}
#label-email-97dd74af-5075-4ae5-aeec-15418f69e8bd{
  display: none;
}
#quotePrint {
  /* width: 1366px; */
  /* height: 930px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 20px;
  height: 100% !important;
}
.header-quotePrint {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  /* width: 1088px;  */
  height: 160px;
}
.header-quoteTittle {
  display: flex;
  align-items: center;
  width: 736px;
  height: 160px;
  background: #fbfbfb 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 1px solid #0000004d;
}
.header-quoteTittle h1 {
  margin-left: 10rem;
  font: normal normal 800 36px/49px Nunito;
  color: #4b4b4b;
}
.logo-quotePrint {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 352px;
  height: 160px;
  background: #f6f6f6 0% 0% no-repeat padding-box;
}
.quotePrint-content {
  display: flex;
  margin-top: 4rem;
}
.quotePrint-sideColumn div {
  margin-left: 3rem;
}
.quotePrint-sideColumn .proMAXSystems {
  width: 146px;
  height: 24px;
  text-align: left;
  font: normal normal 800 18px/24px Nunito;
}
.quotePrint-sideColumn .address {
  width: 145px;
  height: 57px;
  font: normal normal normal 14px/19px Nunito;
  color: #929292;
}
.quotePrint-sideColumn .questions {
  font: normal normal 800 16px/22px Nunito;
  color: #686868;
  opacity: 1;
}
.quotePrint-sideColumn .parr {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font: normal normal normal 14px/19px Nunito;
  color: #929292;
}
/* --------------------------------------------------------------------------------------------------------- */
.selection-menu__container {
  position: relative;
  margin-left: 8.7rem;
  width: 736px;
  /* height: 30%; */
}
.selection-menu {
  padding-left: 10rem;
}
.items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f6f6f6;
  height: 38px;
  font: normal normal bold 14px/0px Nunito;
  color: #484747;
}
.items .item {
  padding-left: 3.5rem;
}
.items .cost {
  padding-left: 12rem;
}
.items .price {
  padding-left: 6rem;
}
.quotePrint-content__tittle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 38px;
  background-color: var(--AquaBlue);
}
.quotePrint-content__tittle label {
  padding-left: 2rem;
  font: normal normal bold 18px/24px Nunito;
  color: #fff;
}
.selection-solution {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
}
.selection-solution .selection-solution--content {
  display: flex;
}
.selection-menu__content--icon {
  width: 48px;
  height: 48px;
  margin-right: 2rem;
}
.selection-solution__content--label {
  width: 104px;
  height: 22px;
  font: normal normal bold 16px/22px Nunito;
  color: #484747;
}
.direct {
  width: 92px;
  height: 19px;
  margin: 0;
  font: normal normal 600 13px/19px Nunito;
  color: #929292;
}
.platform {
  margin: 0;
  font: normal normal 600 13px/19px Nunito;
  color: #484747;
}
.container-bar {
  margin-right: 1rem;
}
.selection-menu__solution--calc {
  width: 193px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: normal normal 800 12px/16px Nunito Sans;
  color: #acacac;
}
.price-fonts {
  color: #686868;
  font: normal normal bold 16px/22px Nunito;
}
.selection-menu__content--calc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #acacac;
  font: normal normal 800 12px/16px Nunito Sans;
}
.selection-menu__Storage {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #f3f3f3;
}
.selection-menu__Storage--content {
  display: flex;
}
.selection-menu__Storage--content figure {
  margin: 0;
}
.selection-menu__Storage img {
  margin-right: 1rem;
}
.selection-menu__Storage--content p {
  text-align: left;
  font: normal normal bold 12px/16px Nunito;
  color: #777777;
  margin: 0;
}
.selection-menu__Storage--content .price-fonts {
  text-align: left;
  font: normal normal bold 16px/22px Nunito;
  color: #777777;
  margin: 0;
}
.selection-menu__driverType {
  font: normal normal bold 16px/22px Nunito;
  color: #484747;
}
.selection-menu__X2 {
  /* width: 20px; */
  height: 14px;
  background: #1cbbff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  font: normal normal bold 11px/15px Nunito;
  color: #ffffff;
  padding: 0rem 3px;
  margin: 0rem 1rem;
}
.selection-menu__expansionCapacity {
  text-align: left;
  font: normal normal 600 14px/19px Nunito;
  color: #929292;
  margin-right: 0.2rem;
  color: #929292;
}
.selection-menu__accelerated {
  text-align: left;
  font: normal normal 600 12px/14px Nunito;
  color: #929292;
  margin-right: 0.2rem;
  color: #929292;
}
.expansion {
  margin-top: 1rem;
  display: flex;
  color: #777777;
}
.accelerated {
  margin-top: 0.4rem;
  display: flex;
  color: #777777;
}
.selection-menu__Users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  padding: 1rem 0;
}
.selection-menu__users--content {
  display: flex;
  align-items: center;
}
.users {
  font: normal normal bold 16px/22px Nunito;
  color: #484747;
  padding-left: 1rem;
}
.user-cost {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
}
.number-cost {
  margin: 0rem 0.3rem;
}
.last-section {
  padding: 1rem 0rem 4rem 0rem;
  border-bottom: 2px solid #acacac !important;
}
.selection-menu__mediahub {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f3f3f3;
  padding: 1rem 0;
}
.selection-menu__setup {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f3f3f3;
  padding: 1rem 0;
}
.selection-menu__setup--content {
  display: flex;
  text-align: left;
}
.selection-menu__setup--content figure {
  margin: 0;
}
.selection-menu__setup--content img {
  margin-right: 1rem;
}
.Typical-formats {
  font: normal normal 600 16px/14px Nunito;
  color: #929292;
}
.mediaHubNum {
  width: 111px;
  height: 39px;
  font: normal normal bold 16px/17px Nunito;
  color: #484747;
}
.mediaHubType {
  font: normal normal 600 16px/14px Nunito;
  color: #929292;
}
.software-suites {
  width: 111px;
  height: 39px;
  font: normal normal bold 16px/17px Nunito;
  color: #484747;
}
.ptext {
  font: normal normal 600 16px/14px Nunito;
  color: #929292;
}
.Total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-left: 25rem;
}
.total-content {
  margin-right: 1rem;
}
.Total label {
  font: normal normal bold 16px/22px Nunito;
  text-align: left;
  color: #484747;
}
.total-content .price-fonts {
  font: normal normal 800 21px/28px Nunito;
}
.total-content .counter {
  font: normal normal 800 21px/28px Nunito;
  text-align: right;
  color: #686868;
}
.textTotal {
  font: normal normal bold 16px/22px Nunito;
  color: #484747;
  opacity: 1;
  margin: 0;
}
.hideSection {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.message {
  font: 12px;
  display: none;
  text-align: left;
  width: 200px;
  height: 18px;
  padding: 22px;
  color: #929292;
  font: normal normal bold 14px/19px Nunito Sans;
  margin-left: 12px;
  margin-top: 0px;
}

.select {
  padding: 0rem 1rem;
  outline: none;
  height: 3rem;
  color: #0d88ff;
  font: normal normal bold 14px/19px Nunito Sans;
  border: 2px solid #d6e3ff;
  border-radius: 6px;
}
.error {
  background: #ffffff;
}

.success {
  background: green;
}

.printbutton{
  text-align: center; 
  display: flex;
   margin-left: 18.7rem;
    margin-top: 30px;
     margin-bottom: 30px;
}

@media (max-width: 968px) {
.selection-menu__container {
    position: relative;
    margin-left: 0.7rem;
    width: 100%;
    top: 97px;
}
.selection-menu {
  padding-left: 0rem;
}
h1 {
  
  font: normal normal 800 15px/21px Nunito;
  color: #4b4b4b;
}
.logo-quotePrint {
  display: flex;
  align-items: center;
  
  width: 100%;
  height: 90px;
  background: #f6f6f6 0% 0% no-repeat padding-box;
  
}
.quotePrint-content {
  display: flex;
  margin-top: 0rem;
  flex-direction: column;
}
.header-quoteTittle {
  
  height: 38px;
    width: 235px;
    margin-left: 9px;
}
 

.header-quoteTittle h1 {
  margin-left: 0rem;
  font: normal normal 695 18px/6px Nunito;
  color: #4b4b4b;
}
.header-quotePrint {
  
  display: block;
  height: 26px;
}
.Total {
  
  margin-top: 1rem;
  padding-left: 8rem;
}
.user-cost {
  margin-left: 1rem !important;
}
.selection-solution {
  padding: 0rem 0;
 
}
.selection-menu__Storage {
  padding: 0.4rem 0;

}
.selection-menu__Users {
  padding: 0.5rem 0;
}
.selection-menu__setup {
  padding: 0.5rem 0;
}
.selection-menu__setup--content {
  
  width: 258px;
}
.printbutton{
  margin-left: 66.2px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.quotePrint-sideColumn{
  margin-top: 112px;
  display: flex;

}
.quotePrint-sideColumn .proMAXSystems {
  width: 168px;
  height: 24px;
  text-align: left;
  font: normal normal 800 13px/16px Nunito;
}
.quotePrint-sideColumn div {
  margin-left: 1rem;
}

.items {
  display: flex;

  height: 35px;
}
.items .cost {
  padding-left: 1rem;
  display: none;
}
.items .item {
  padding-left: 0rem;
}
.items .price {
  padding-left: 12rem;
}
}

